@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-color-1: #fa9f27;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
a {

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}

h1,
h2,
h3,
h4 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
}

.logo {
    width: 100px;
    border-radius: 50%;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.bg-color-1 {
    background-color: var(--bg-color-1);
}

footer {
    margin-top: 50px;
    padding: 25px;
    position: sticky;
    bottom: 0;
}

.nav-a {
    font-size: 20px;
    background: linear-gradient(to right, #6ef81e, rgb(35, 92, 247));
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 0.2s ease;
    padding-bottom: 0;
}

.nav-a:hover {
    border-bottom: 3px solid rgb(247, 54, 144);
    border-bottom-left-radius: 15px 5px;
    border-bottom-right-radius: 15px 5px;
}

.errorContainer {
    width: 60%;
    margin: auto;
    position: relative;
    margin-top: 30px;
}

.errorContainer h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(250, 20, 20);
    font-size: 60px;
    font-weight: bolder;
}

.img-error {
    width: 100%;
    border-radius: 15px;
}

.errorBtn {
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 25px;
    border: none;
    background-color: rgb(247, 31, 31);
    color: white;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.errorBtn:hover {
    background-color: rgb(211, 31, 31);
}

.registerContainer {
    width: 30%;
    margin: auto;
}

.registerLogo {
    width: 50px;
    height: 80px;
    margin-left: 30px;
}

.registerForm {
    width: 100%;
    border-radius: 15px;
    padding: 15px;
    background-image: url(/public/img/registerBg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}

.registerBtn {
    background-color: rgb(219, 26, 107);
    border: none;
    padding: 15px;
    font-size: 25px;
    border-radius: 15px;
    color: white;
    transition: all 0.3s ease;
}

.registerBtn:hover {
    background-color: rgb(161, 19, 78);
}

.registerErrorP {
    background-color: rgb(245, 62, 62);
    border-radius: 10px;
    color: rgb(255, 247, 247);
    font-size: 20px;
    padding: 10px;
    margin-top: 5px;
}

.connectionContainer {
    width: 30%;
    margin: auto;
}

.connectionLogo {
    width: 60px;
    height: 80px;
    margin-left: 30px;
}

.connectionForm {
    width: 100%;
    border-radius: 15px;
    padding: 15px;
    background-image: url(/public/img/connectionBg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}

.connectionBtn {
    background-color: rgb(37, 74, 155);
    border: none;
    padding: 15px;
    font-size: 25px;
    border-radius: 15px;
    color: white;
    transition: all 0.3s ease;
}

.connectionBtn:hover {
    background-color: rgb(22, 52, 116);
}


.usersContainer {
    width: 60%;
    margin: auto;
}

.subjectForm {
    background-image: url("/public/img/subjectBg.png");
    width: 100%;
    border-radius: 15px;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}

.homeImg {
    width: 100%;
    position: relative;

}

.homeImg img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 450px;
}

.homeImg h1 {
    position: absolute;
    top: 50px;
    left: 250px;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 60px;
    color: rgb(30, 205, 236);
}

.subjectContainer,
.subjectTitle,
.articlesContainer,
.articlesTitle {
    width: 40%;
    margin: auto;
    border: 2px solid black;
    padding: 15px;
}

.subjectContainer,
.articlesContainer {
    border-top: none;
}

.subjectTitle {
    background-color: rgb(47, 179, 240);
    color: white;
}

.subjectTitle,
.articlesTitle {
    border-bottom: none;
    margin-top: 30px;
}

.subjectDescription {
    padding: 15px 25px;
}

.subjectSeeMore {
    margin-left: 50px;
    background-color: #362cc7;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;
}

.subjectSeeMore:hover {
    background-color: #493cf5;
}

.theArticles {
    font-size: 90px;
    font-weight: bolder;
    color: #f3f7f8;
    margin-bottom: 35px;
    position: absolute;
    top: 25%;
    left: 5%;
}

.addArticleBtn {
    margin-top: 35px;
    background-color: #38cf12;
    color: white;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.3s;
}

.addArticleBtn:hover,
.addComment:hover {
    background-color: #086b26;
}

.articlesTitle {
    background-color: #493cf5;
    color: white;
}

.addArticleContainer {
    width: 40%;
    margin: auto;
}

.dateArticle {
    opacity: 0.5;
}

.seeArticle {
    padding: 10px;
    color: white;
    background-color: #0b6f97;
    border-radius: 5px;
    transition: all 0.3s;
}

.seeArticle:hover {
    background-color: #105c7a;
}

.articlesImgContainer img {
    width: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
    height: 550px;
}

.article {
    width: 80%;
    margin: auto;
    background-image: url(/public/img/articleBg.png);
    background-position: center;
    background-size: cover;
}

.article h1 {
    margin-top: 50px;
    font-size: 50px;
    color: white;
    padding: 15px;
    border-bottom: 2px solid white;
    font-weight: bolder;
}

.articleContent {
    font-size: 25px;
    padding: 15px;
    color: rgb(240, 229, 231);
    font-weight: 600;
}

.article .dateArticle {
    opacity: 0.8;
}

.article .dateArticle,
.articleCreator {
    color: white;
    padding: 15px;
}

.creatorLink {
    font-weight: bolder;
    text-decoration: underline;
    transition: all 0.3s;
}

.creatorLink:hover {
    font-size: 20px;
}

.articleBtnContainer {
    display: flex;
    padding: 15px;
}

.editBtn,
.deleteBtn {
    padding: 15px;
    margin-left: 30px;
    border-radius: 10px;
    border: none;
}

.editBtn {
    background-color: #104cb9;
    color: rgb(90, 88, 88);
    color: white;
}

.deleteBtn {
    background-color: #eb1c1c;
    color: rgb(219, 214, 214);
    margin-bottom: 20px;
}

.commentContainer {
    width: 50%;
    margin: auto;
}

.articleComment {
    width: 60%;
    margin: 60px auto;
}

.articleComment h2 {
    margin: 35px 15px;
    font-size: 50px;
}

.comment {
    border: 2px solid black;
    margin: 25px auto;
}

.commentLabel {
    font-size: 20px;
}

.commentArea {
    font-size: 20px;
}

.addComment {
    margin: 10px;
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: white;
    background-color: #38da10;
    transition: all 0.3s ease;
}

.comment h3 {
    padding: 25px;
    background-color: var(--bg-color-1);
    color: white;
    font-size: 35px;
    font-weight: bolder;
}

.comment p {
    padding: 25px 15px;
    font-size: 20px;
}

.commentUser{
    transition: all 0.3s ease;
}

.commentUser:hover {
    color: #0b6f97;
    text-decoration: underline;
}

.userProfil {
    width: 60%;
    margin: 80px auto;
    border: 2px solid black;
}

.userName {
    background-color: #fa9f27;
    padding: 25px;
    color: white;
}

.userInfo {
    padding: 20px;
}

.userInfo p {
    font-size: 20px;
}

@media screen and (max-width: 762px) {

    .registerContainer {
        width: 100%;
    }

    .registerForm {
        width: 100%;
    }

    .registerErrorP {
        font-size: 16px;
    }

    .homeImg h1 {
        left: 50px;
    }

    .subjectContainer,
    .subjectTitle,
    .articlesContainer,
    .articlesTitle,
    .articleComment,
    .commentContainer,
    .usersContainer,
    .userProfil {
        width: 90%;
    }

    .theArticles {
        font-size: 50px;
    }

    .articleComment h2 {
        font-size: 30px;
    }
}